<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3"><%= sort_link @search, :company, "Company name" %>Company</div>
      <div class="col-lg-3 col-md-3 col-sm-3"><%= sort_link @search, :fee, "fee" %> Fee</div>
      <div class="col-lg-3 col-md-3 col-sm-3"><%= sort_link @search, :company_sector, "Sort b company sector" %>Sector</div>
       <div class="col-lg-3 col-md-3 col-sm-3">Location</div>
    </div>
  </thead>
</tr>

  <tbody>
   
    <% @accounts.each do |account| %>
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3"><%= account.company %></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><%= account.fee %></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><%= account.company_sector %></div>
          <div class="col-lg-2 col-md-2 col-sm-2"><%= account.company_location %></div>
          <div class="col-lg-1 col-md-1 col-sm-1"><%= link_to 'Show', user_account_path(account.user,account) %></div>
          <div class="col-lg-1 col-md-1 col-sm-1"><%= link_to 'Edit', edit_user_account_path(account.user,account) %></div>
          <div class="col-lg-1 col-md-1 col-sm-1"><%= link_to 'Destroy', user_account_path(account.user,account), method: :delete, data: { confirm: 'Are you sure?' } %></div>
     </div>
      <% end %>
     
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_user_account_path(current_user) %>
