<%= form_for([@pokemon.trainer, @pokemon]) do |form| %>
  <% if @pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% @pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pokemon_name %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed, id: :pokemon_breed %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :pokemon_bio %>
  </div>

  <div class="field">
    <%= form.label :lvl %>
    <%= form.number_field :lvl, id: :pokemon_lvl %>
  </div>

  <div class="field">
    <%= form.label :element %>
    <%= form.text_field :element, id: :pokemon_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
