<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pokemon.breed %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @pokemon.bio %>
</p>

<p>
  <strong>Lvl:</strong>
  <%= @pokemon.lvl %>
</p>

<p>
  <strong>Element:</strong>
  <%= @pokemon.element %>
</p>

<%= link_to 'Edit', edit_trainer_pokemon_path(@pokemon.trainer, @pokemon) %> |
<%= link_to 'Back', trainer_pokemons_path %>
